
img{
    width: 90%;
    height: 80vh;
}
.form-label-group{
    margin-top: 30%;
}
.input-box{
    margin-top: 5%;
   border-top-left-radius:60px ;
   border-bottom-left-radius:60px ;
    background-color: #77b9f7;
}


